{{!-- // Citation for the following webpage:
// Date: 3/1/2024
// The following source was used to write the following code
// Code source:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}

<br>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div id="bookAuthorDiv">
    <fieldset>
        <legend><strong>Book Authors</strong></legend>
        <table id="book-authors-table">
            <thead>
                <th>Book And Author ID</th>
                <th>Book</th>
                <th>Author</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr data-value={{this.book_has_author_id}}>
                    <td>{{this.book_has_author_id}}</td>
                    <td>{{this.book}}</td>
                    <td>{{this.author}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
</div>