{{!-- // Citation for the following webpage:
// Date: 3/1/2024
// The following source was used to write the following code
// Code source:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}


<h4>Welcome to the Novel Nest Database Home Page!</h4>
<br>
<p>This site is designed as a front end application for employees to access the company's database.
    Use the navigation bar to find and change business data on stores, sales, customers, books, and authors.</p>