<p>&nbsp;</p>

<div id="purchaseSaleBook">
    <table border="1" cellpadding="5">
        <th>Sale With Books ID</th>
        <th>Sale ID</th>
        <th>Book ID</th>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>6</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>4</td>
            <td>4</td>
            <td>1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>3</td>
        </tr>
        <tr>
            <td>6</td>
            <td>5</td>
            <td>1</td>
        </tr>
    </table>
    <br>
</div>


<div id="insertSale">
    <form method="POST" id="addSalWithBook">
        <fieldset class="fields">
            <legend><strong>Add Book Sale</strong></legend>
            <label> Sale ID/ Transaction Number </label> <select type="text" name="sale_id">
                <option value="0">&nbsp;</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label> Book ID </label> <select type="text" name="book_id">
                <option value="0">&nbsp;</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <input class="btn" type="submit" id="addSaleBookbtn" value="Add">
            <input class="btn" type="button" value="Cancel" onClick="showSalesWithBooks()">
        </fieldset>
    </form>
</div>

